!.idea/codeStyleSettings.xml
**.iml
**pom.xml.releaseBackup
*.iml
*.iws
*.pyc
*/seed.txt
*/target
*/test-output
*~
.DS_Store
.gradle
.idea/*
app/.idea/.name
app/.idea/compiler.xml
app/.idea/copyright/profiles_settings.xml
app/.idea/encodings.xml
app/.idea/libraries/Maven__*
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/scopes/scope_settings.xml
app/.idea/uiDesigner.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/build/*
app/main-dex-list.txt
app/proguard_logs/
app/src/debug/assets/stock_data.jar
bin
build.properties
build/*
classes
com_crashlytics_export_strings.xml
gradle-app.setting
lib
local.properties
logs
project.properties
release.properties
target
temp-testng-customsuite.xml
tmp
tools/cn-null-apps/signed
tools/databases/*.db
app/gen-external-apklibs/
dexlister/
out/
projectFilesBackup/
